*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

/* -- NAVIGATION -- */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    letter-spacing: .2rem;
    position: relative;
}

.primary_nav {
    background-color: bisque;
}

.logo {
    /* border: 1px solid blue; */
    cursor: pointer;
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* aka nav ul */
.nav_links_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
}



/* tested display: inline-block; */
nav ul li {
    /* position: relative; */
    font-size: 1.5em;
}

nav ul li:hover ul {
    display: block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: all .3s ease 0s;
    /* border: 1px solid blue; */
    padding: 15px;
}

nav ul li a:hover {
    color: dimgray;
}

/* nav ul li ul*/
.shop_list_ul {
    list-style: none;
    position: absolute;
    top: 58px;
    width: 220px;
    background-color: bisque;
    box-shadow: 0px 5px 5px 1px rgb(40, 40, 40);
    display: none;
    z-index: 50;
}

nav ul li ul li {
    padding: 10px;
    font-size: 1em;
}

nav ul li ul li a {
    color: black;
    text-decoration: none;
    transition: all .3s ease 0s;
}

nav ul li ul li a:hover {
    color: dimgray;
}

.burger {
    display: none;
}

.burger .line1,
.burger .line2,
.burger .line3 {
    display: none;
}

.cart_quantity_container {
    display: none;
}

.mobile_ul {
    display: none;
}

.decoy {
    display: none;
}

.white {
    background-color: aliceblue;
}

.white * {
    background-color: aliceblue;
}

.white a {
    background-color: rgba(0,0,0,.0);
}

@media screen and (max-width: 1000px) {

    .primary_nav.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 56;
    }

    .logo {
        margin: auto;

    }

    .nav_links_ul {
        display: none;
    }

    .burger {
        cursor: pointer;
        display: block;
        position: relative;
        /* border: 1px solid blue; */
        aspect-ratio: 1/1;
        width: 50px;
        margin-right: 50px;
        z-index: 56;
    }

    .burger.active,
    .burger.inactive {
        flex-shrink: 0;


    }

    .burger .line1,
    .burger .line2,
    .burger .line3 {
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 10px;
        background-color: black;
        transition: all .5s ease 0s;
        position: absolute;
    }

    /* same position both active and inactive makes for a better transition */
    .line2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line1.inactive {
        width: 40px;
        height: 5px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 200%);       
        /* background-color: aquamarine; */

    }

    .line2.inactive {
        width: 40px;
        height: 5px;
        /* top: 50%; */
        /* left: 50%;
        transform: translate(-50%, -50%); */
        margin: 0;
        /* background-color: red; */
    }

    .line3.inactive {
        width: 40px;
        height: 5px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -200%);
        /* background-color: blue; */
    }

    .line1.active {
        width: 40px;
        height: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(calc(45deg + 360deg));
        /* background-color: aquamarine; */
        /* transform-origin: center; */


    }

    .line2.active {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid black;
        background-color: rgba(0,0,0,.0);
    }

    .line3.active {
        width: 40px;
        height: 5px;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%) rotate(calc(-45deg - 360deg));
        /* background-color: blue; */


    }

    #cart_quantity_container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* background-color: rgb(88, 172, 246); */
        /* border: 2px solid rgb(255, 0, 0); */
        /* border-radius: 50%; */
        aspect-ratio: 1/1;
        position: absolute;
        top: 100%;
        left: 70%;
        transform: translate(50%, -90%);
        height: 30px;
        width: 30px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #cart_quantity_container p {
        /* background-color: red; */
        text-align: center;
        width: 100%;
    }

    #cart_quantity_container_invisible {
        display: none;
    }

    /* decoy.active prevents the body of content from filling up
        the navs position when nav becomes position:fixed;
     */
    .decoy.inactive {
        display: none;
    }
    .decoy.active {
        display: block;
        height: 61px;
        width: 100vw;

    }

    .mobile_ul {
        position: fixed;
        display: flex;
        top: 61px;
        width: 100vw;
        height: 95vh;
        background-color: bisque;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        transition: opacity .5s ease;
        border: 2px solid black;
    }

    .mobile_ul.inactive {
        opacity: 0;
        z-index: -1;
    }

    .mobile_ul.active {
        opacity: 1;
        z-index: 56;
    }

    .mobile_ul.white {
        background-color: aliceblue;
    }

    #shop_nav_link {
        position: relative;
    }

    #shop_nav_link ul {
        position: absolute;
        top: 0px;
        left: 100%;
    }


} /* END OF @MEDIA */

@media screen and (max-width: 397px) {
    .mobile_ul {
        top: 100px;
    }
}


/* -- CAROUSEL -- */
.carousel {
    position: relative;
    width: 82%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 5px solid blue; */
    aspect-ratio: 2/1;
}

.carousel_button {
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    border: 4px solid aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    padding: 5px;
    background-color: rgba(0, 0, 0, .4);
}

.carousel_button.mDown {
    background-color: aliceblue;
}

#carousel_button_left {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 35;
}

#carousel_button_right {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 35;
}

.example {
        visibility: hidden;
        border: solid yellow;
        overflow: hidden;
        aspect-ratio: 2/1;

}
    
.example_img {
        width: 100%;
        margin-left: 60px;
}

.carousel_track {
    /* border: solid green; */
    list-style: none;
}

.carousel_slide {
    /* images STACK with li's postion ABSOLUTE */
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 15px;
    transition: all .5s ease 0s;
    /* border: solid 3px black; */
    border-radius: 15px;
    /* supposed to solve safari's overflow hidden border radius bug */
    -webkit-mask-image: -webkit-radial-gradient(white, black);

}


.carousel_slide_img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    border-radius: 15px;
    border: solid 3px black;

}


.carousel_slide h1 {
    color: aliceblue;
    font-family: 'Tangerine', 'Montserrat', sans-serif;
    /* font-size: 3em; */
    font-size: clamp(12px, 5vw, 50px);
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, .3);
}

.carousel_nav {
    display: flex;
    justify-content: center;
    margin: 5px 5px;

}

.carousel_nav_btn {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
    border: none;
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    margin-top: 15px;
    cursor: pointer;
}

.current_slide {
    background-color: rgba(0, 0, 0, .55);
    border-radius: 50%;
    border: none;
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    margin-top: 15px;
    opacity: 1
}


/* -- PRODUCT LINKS -- */
.product_img_links_container {
    width: 90%;
    margin: 10px auto;
    /* border: 5px solid blue; */
}

#product_img_links_title {
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    margin: 10px 0;
}

#product_img_links_title a {
    text-decoration: none;
    /* font-size: 35px; */
    font-size: clamp(12px, 4vw, 40px);
    font-weight: 600;
    color: black;
}

#product_img_links_title a:hover {
    background-color: aliceblue;
}

#product_img_links_div_container {
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
}

.product_img_links_div {
    border-radius: 15px;
    width: 30%;
    height: 60%;
    margin: 10px;
    position: relative;
}

.product_img_links_div-img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    /* height: 300px; */

}

.product_img_links_div_a {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED 
    */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid black;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* font-size: 2.5em; */
    font-size: clamp(12px, 4vw, 40px);
    padding: 0 5px;
    background-color: rgba(0, 0, 0, .5);
    color: aliceblue;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .25s ease;
}

.product_img_links_container a:hover {
    background-color: rgb(255, 228, 196, .8);
    color: rgb(65, 65, 65);
}


/* -- NEW ARRIVALS -- */
.new_arrivals_main_container {
    width: 90%;
    margin: 10px auto;
}

.new_arrivals_main_container h1 {
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    font-size: clamp(12px, 4vw, 40px);
    font-weight: 600;
    margin: 10px 0;
}

.new_arrivals_img_container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.new_arrivals_img_div {
    border: solid black;
    font-size: 12px;
    width: 23%;
    height: 60%;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    overflow: hidden;
    transition: all .25s ease;
}

.new_arrivals_img_div:hover {
    width: 25%;
}

.new_arrivals_img_div:hover p {
    font-weight: bolder;
    color: rgb(18, 18, 59);
    text-decoration: none;
}

.new_arrivals_img_div_img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.new_arrivals_img_div p {
    white-space: nowrap;
    text-decoration: none;
    color: black;

    /* single-line ellipsis */
    /* need to be block or inline-block */
    /* need width */
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


}

/* -- FOOTER -- */
#main_footer {
    border: solid black;
    background-color: black;
}

#footer_internal_links_ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5em;
}

#footer_internal_links_ul li {
    margin: 10px;
}

#footer_internal_links_ul li a {
    text-decoration: none;
    color: black;
    color: aliceblue;
    letter-spacing: .2rem;
    font-size: clamp(18px, 3vw, 28px);
}
/* CENTER GRID BY UL GRID AND LI FLEX */
@media screen and (max-width: 450px) {
    #footer_internal_links_ul {
        display: grid;
        grid-gap: 5px;
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        grid-template-columns: repeat(2, 1fr);
    }
    #footer_internal_links_ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

#footer_internal_links_ul li a:hover {
    transition: all .25s ease;
    color: bisque;
}

#footer_icons_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 2em;
    background-color: black;
    /* border: 1px solid blue; */
}

#footer_icons_ul li {
    margin: 10px 20px;
    background-color: aliceblue;
    padding: 12px 20px;
    padding-top: 17px;
    border-radius: 50%;
}

#footer_icons_ul li:hover {
    transition: all .25s ease;
    background-color: bisque;
}

#footer_icons_ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 850px) {
    #footer_icons_ul li {
        padding: 6px 8px;
        padding-bottom: 0;
    }
}

#company_address {
    text-align: center;
    padding: 15px;
    padding-bottom: 7px;
    color: aliceblue;
    letter-spacing: .2rem;
}

#copyright_display {
    text-align: center;
    padding: 15px;
    padding-top: 0;
    color: aliceblue;
}

/* SHOP PAGE */
/* SHOP PAGE */

#products_title_container {
    position: relative;  
}

#products_title_container h1 {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*border: solid black;
    border-bottom: solid black;*/
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    padding: 0 5px;
    /*background-color: rgba(0, 0, 0, .5);*/
    color: aliceblue;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#products_title_container img {
    object-fit: cover;
    max-height: 500PX;
    width: 100%;
    filter: brightness(50%)
}

#products_title {
    /*border: solid black;*/
    text-align: left;
    letter-spacing: .2rem;
    font-size: 40px;
}


/* PRODUCT ITEMS */
/* PRODUCT ITEMS */

.product_items_main_container {
    margin: 25px 0;
}

.product_items_img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
    padding: 100px;
}

.product_items_img_div {
    border: solid black;
    width: 23%;
    max-height: 600px;
    margin: 5px 2px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: all .25s ease;
}

.product_items_img_div_img {
    object-fit: scale-down;
    width: 100%;
    height: 85%;
    border-radius: 10px;
}

.product_items_img_div p {
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis;

}

.product_items_img_div:hover {
    width: 24%;
    height: auto;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);}

.product_items_img_div:hover p {
    font-weight: bolder;
    color: rgb(18, 18, 59);
    text-decoration: none;
}


/* 
SURFBOARDS
PAGE
*/

#surfboards_page_title {
    text-align: center;
    margin: 25px 0;
}

/* 
LEASHES
*/

#leashes_page_title {
    text-align: center;
    margin: 25px 0;
}

/* 
FINS
*/
#fins_page_title {
    text-align: center;
    margin: 25px 0;
}


/* PRODUCT PAGES */
/* PRODUCT PAGES */

body#product1 {
    background-color: white;
}

/* PRODUCT NAV */

/*SECONDARY NAV*/
#product_page_nav {
    border: none;
    font-size: 13px;
    max-width: 1500px;
    margin: 30px auto;
    text-align: center;
}

#product_page_nav * {
    color: dimgray;
}

#product_page_nav ul li a:hover {
    color: black;
}

/* ul */
#product_path {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
    margin-left: 40px;
    /* border: 1px solid red; */
}

#product_path li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product_path li ion-icon {
    font-size: 25px;
    color: black;
}

#product_path li a,
#product_path li p {
    padding: 0 15px;
}

.icon_centering_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#current_page_rep {
    color: black;
}

#to-and-fro_product_nav {
    margin-right: 40px;
    margin-left: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
}

/* PRODUCT SPECS */
/* PRODUCT SPECS */

#product_info_container {
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#product_img_container {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    /* max-width: 600px; */
    min-width: 400px;
    margin: 0 30px;
    /* margin-left: 200px; */
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#product_img_container img {
    object-fit: scale-down;
    width: 100%;
}

#product_specs_container {
    /*border: 1px solid black;*/
    max-width: 700px;
    min-width: 475px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
}

#product_specs_container h1 {
    margin: 20px 0;
}

#product_specs_container p {
    margin: 20px 0;
}

#price {
    font-size: 25px;
}

.cart_button_container {
    margin: 30px 0px;
    margin-bottom: 40px;
}

.cart_button_container button {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: large;
    font-weight: bolder;
    color: bisque;
    background-color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
}

.cart_button_container button:hover {
    background-color: bisque;
    color: black;
    transition: .2s ease-in-out;
    box-shadow: 0 0 1px 1px black;
}

#disclaimer {
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {

    #product_info_container {
        flex-direction: column;
    }

    #product_img_container {
        margin: 0 auto;
        width: 60%;
        max-width: 1000px;
    }

    #product_specs_container {
        max-width: 1000px;
    }

    } /* END OF @MEDIA */

/* ABOUT */
/* ABOUT */
/*
#about_main_container {
    border: solid red;
}
*/

#about_top_img_container {
    position: relative;
}

#about_top_img_container h1 {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED 
    */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /*border: solid black;*/
    /* border-bottom: solid black; */
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    padding: 0 5px;
    /*background-color: rgba(0, 0, 0, .5);*/
    color: aliceblue;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#about_top_img_container img {
    object-fit: cover;
    height: 500px;
    width: 100%;
    filter: brightness(50%)
}

#about_script_container {
    /*border: solid black;*/
    /*IMGS VERTICALLY ALIGNED USING FLEX*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    /* border: 3px solid pink; */
    
}

#about_script_container * {
    margin: 5px 15px;
    /*border: solid blue;*/
}

.about_script_flex_box1 h1 {
    font-size: 60px;
}

.about_script_flex_box1 p {
    font-size: 25px;
}

.about_script_flex_box2 img {
    object-fit: cover;
    max-height: 200px;
    max-width: 150px;
    object-fit: scale-down;
    /* makes space between imgs but shrinks them */
    padding-top: 20px;
}

.about_script_flex_box1 {
    padding: 20px;
    /* border: 1px solid red; */
    width: 50%;
}

.about_script_flex_box2 {
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* CONTACT PAGE */
/* CONTACT PAGE */

#contact_info_wrapper {
    position: relative;
    line-height: 1.6;
    text-align: center;
    color: black;
}

#contact_info_wrapper img {
    object-fit: cover;
    width: 100%;
    min-height: 500px;
}

/*this is for the BACKGROUND COLOR FILLING AND STAYING IN PLACE*/
#text_wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    bottom: 0;
    width: 100%;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text_wrapper p:nth-child(1) {
    font-size: 40px;
}

#text_wrapper p {
    font-size: 25px;
    color: aliceblue;
}

/*added this to div to allow 
TEXT TO MOVE INDEPENDENT OF TRANSPARENT BACKGROUND OF TEXT_WRAPPER*/
#text_wrapper_inner_div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .7s ease 0s;
}

@media screen and (max-width: 1000px) {
    #text_wrapper_inner_div {
        top: 50%;
        transition: all .7s ease 0s;
    }
} /*END OF THE MEDIA SCREEN*/

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    #text_wrapper_inner_div {
        top: 35%;
        transition: all .7s ease 0s;
    }
} /*END OF THE MEDIA SCREEN*/

/* SHIPPING */
/* SHIPPING */

#shipping_script_container {
    margin: 5px 15px;
}

/*#shipping_script_container * {
    line-height: 2;
}
*/

.shipping_script_flex_box h1 {
    font-size: 40px;
    margin-top: 15px;
}

.shipping_script_flex_box p {
    font-size: 25px;
    line-height: 2;
}

#shipping_info br {
    line-height: 5;
}

.shipping_info_breaks {
    line-height: 5;
}


/* INDEPENDENTLY MADE SHOPPING CART */
/* INDEPENDENTLY MADE SHOPPING CART */

.cart_main_container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.shopping_cart_title_container {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 25px;
    letter-spacing: .2rem;
}

.full_item_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    padding: 15px 0;
}

.full_item_container > * {
    margin: 0;
    width: 100%;
}

.product_img_div {
    max-height: 240px;
    max-width: 200px;
    min-width: 150px;
}

.product_img_div img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.product_name_div {
    padding: 10px;
    font-size: 25;
    text-align: center;
}

.product_name_div span {
    display: inline-block;
    text-align: center;


}

.quantity_ORG {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.quantity_ORG > button {
    aspect-ratio: 1/1;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity_ORG > span {
    margin: 0 10px;
}

.total_ORG {
    padding: 10px;
    display: block;
    font-size: 20px;
    text-align: center;
}

.remove_from_cart {
    padding: 10px;
    display: block;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.remove_from_cart > button {
    aspect-ratio: 1/1;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decrement_btn,
.increment_btn,
.clear_btn {
    border: 2px solid black;
    background-color: rgba(0,0,0,.4);
    color: bisque;
    cursor: pointer;
}
.down {
    background-color: aliceblue;
}

@media screen and (max-width:630px) {

    .shopping_cart_title_container {
        padding: 10px;
        text-align: center;
    }

    .full_item_container {
        flex-wrap: wrap;
    }
}

.sub_check_proper_flex {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

.sub_and_checkout_container {
    /* margin 0 auto prevents the parent from 
    executing 'flex-end'
    margin: 0 auto;
    */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
}

.sum_container_ORG {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sum_container_ORG h4 {
    margin: 5px 10px;
}

.checkout_button_container {
    margin: 0px 0px;
    margin-bottom: 0px;
}

.checkout_button_container button {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: .2rem;
    color: bisque;
    background-color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
}

.checkout_button_container button:hover {
    background-color: bisque;
    color: black;
    transition: .2s ease-in-out;
    box-shadow: 0 0 1px 1px black;
}

@media screen and (max-width: 1000px) {
    .sub_and_checkout_container {
        margin: 0 auto;
        width: 100%;
    }
}

