*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: ivory;
}

/* -- NAVIGATION -- */
nav {
    display: flex;
    justify-content: space-around;
    border: solid;
    letter-spacing: .2rem;

    
}

.logo {
    cursor: pointer;
    margin-right: auto;
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
}

.logo a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

/* tested display: inline-block; */
nav ul li {
    position: relative;
    padding: 10px;
    font-size: 1.5em;
}

nav ul li:hover ul {
    display: block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: all .3s ease 0s;
}

nav ul li a:hover {
    color: dimgray;
}

nav ul li ul {
    list-style: none;
    position: absolute;
    top: 48px;
    background-color: bisque;
    padding-right: 200px;
    box-shadow: 0px 5px 5px 1px rgb(40, 40, 40);
    display: none;
    z-index: 50;
}

nav ul li ul li {
    /*margin-top: 20px;*/
    padding-left: 20px;
    font-size: 1em;
}

nav ul li ul li:last-child {
    margin-bottom: 20px;
}

nav ul li ul li a {
    color: black;
    text-decoration: none;
    transition: all .3s ease 0s;
}

nav ul li ul li a:hover {
    color: dimgray;
}

.burger {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 8px;
}

.burger div {
    background-color: black;
    width: 25px;
    padding: 1px;
    margin: 5px;
    margin-right: 25px;
    display: none;
}

.burger-cart-text {
    display: none;
}

@media screen and (max-width: 1000px) {
    .logo {
        margin: auto;
    }

    .nav_links_ul {
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        width: 100%;
        height: 95vh;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: bisque;
        z-index: 99;
        transform: translateX(100%);
        transition: all 1s ease 0s;
        opacity: 0;
    }

    /* this is also called .shop_list_ul */
    .primary_nav ul li ul {
        list-style: none;
        height: 100px;
        top: 30px;
        left: -160px;
        /*display: block;*/
        display: none;
        background-color: none;
        padding-right: 100px;
        margin: auto;
        /*box-shadow: 0px 5px 5px 1px rgb(40, 40, 40);*/
        padding-top: 15px;
    }
    
    .primary_nav ul li ul li {
        margin: auto;
        align-items: center;
        align-content: center;
        text-align: center;
        display: none;
    }


    .burger div {
        display: block;
        transition: all .5s ease 0s;
    }

    .xBurger .line1 {
        transform: rotate(-45deg) translate(-5px,5px);
        transition: all .5s ease 0s;
    }

    .xBurger .line2 {
        opacity: 0;
        transition: all .5s ease 0s;
    }

    .xBurger .line3 {
        transform: rotate(45deg) translate(-5px,-5px);
        transition: all .5s ease 0s;
    }

    .burger-cart-text {
        display: block;
    }

    .nav_active {
        transform: translateX(0%);
        opacity: 1;
        transition: all 1s ease 0s;
    }

    /*  FIXES THE OVERLAP ISSUES IN MOBILE NAV DESPLAY */
    .nav_active li:nth-child(3) {
        z-index: 55;
    }
    /*  FIXES THE OVERLAP ISSUES IN MOBILE NAV DESPLAY */
    .nav_active li:nth-child(4) {
        z-index: 55;
    }
    /*  FIXES THE OVERLAP ISSUES IN MOBILE NAV DESPLAY */
    .nav_active li:nth-child(5) {
        z-index: 55;
    }

    .nav_active li ul {
        display: block;
        position: absolute;
        transform: translateX(52%);
        opacity: 1;
        background: none;
        width: auto;
        box-shadow: none;
    }

    .nav_active li ul li a {
        text-transform: lowercase;
    }

    .shop_active {
        display: block;
        opacity: 1;
        transition: all 1s ease 0s;
    }

    #alternate_design_nav ul {
        position: absolute;
        top: 80px;
        height: 100%;
    }
    #alternate_design_nav ul li ul {
        position: absolute;
        top: 64px;
    }

    #alternate_design_nav_white ul {
        position: absolute;
        top: 80px;
        height: 100%;
    }
    #alternate_design_nav_white ul li ul {
        position: absolute;
        top: 64px;
    }
} /* END OF @MEDIA */

/*MAIN NAV ALTERNATE*/
#alternate_design_nav {
    background-color: bisque;
    padding: 15px;
}

#alternate_design_nav ul li ul {
    position: absolute;
    top: 64px;
}

#alternate_design_nav ul li {
    /*border: 1px solid black;*/
    height: 150%;
}

/*MAIN NAV ALTERNATE WHITE*/
#alternate_design_nav_white {
    background-color: ivory;
    padding: 15px;
}

#alternate_design_nav_white ul li ul {
    position: absolute;
    top: 64px;
}

#alternate_design_nav_white ul li {
    /*border: 1px solid black;*/
    height: 150%;
}



/* -- CAROUSEL -- */
.carousel {
    position: relative;
    width: 82%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 5px solid blue; */
    aspect-ratio: 2/1;
}

#carousel_button_left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 35;
}

#carousel_button_right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 35;
}

.example {
        visibility: hidden;
        border: solid yellow;
        overflow: hidden;
        aspect-ratio: 2/1;

}
    
.example_img {
        width: 100%;
        margin-left: 60px;
}

.carousel_track {
    /* border: solid green; */
    list-style: none;
}

.carousel_slide {
    /* images STACK with li's postion ABSOLUTE */
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 15px;
    transition: all .5s ease 0s;
    border: solid black;
    border-radius: 10px;

}


.carousel_slide_img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
}


.carousel_slide h1 {
    color: aliceblue;
    font-family: 'Tangerine', 'Montserrat', sans-serif;
    font-size: 3em;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, .3);
}

.carousel_nav {
    display: flex;
    justify-content: center;
    margin: 5px 5px;

}

.carousel_nav_btn {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50%;
    border: none;
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    margin-top: 15px;
    cursor: pointer;
}

.current_slide {
    background-color: rgba(0, 0, 0, .55);
    border-radius: 50%;
    border: none;
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    margin-top: 15px;
    opacity: 1
}


/* -- PRODUCT LINKS -- */
.product_img_links_container {
    width: 90%;
    margin: 10px auto;
    /* border: 5px solid blue; */
}

#product_img_links_title {
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    margin: 10px 0;
}

#product_img_links_title a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: black;
}

#product_img_links_title a:hover {
    background-color: ivory;
}

#product_img_links_div_container {
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
}

.product_img_links_div {
    border-radius: 15px;
    width: 30%;
    height: 60%;
    margin: 10px;
    position: relative;
    /* border: 5px solid blue; */
}

.product_img_links_div-img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    /* height: 300px; */

}

.product_img_links_div_a {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED 
    */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid black;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, .5);
    color: ivory;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.product_img_links_container a:hover {
    background-color: rgb(255, 228, 196, .8);
    color: rgb(65, 65, 65);
}


/* -- NEW ARRIVALS -- */
.new_arrivals_main_container {
    width: 90%;
    margin: 10px auto;
}

.new_arrivals_main_container h1 {
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    margin: 10px 0;
}

.new_arrivals_img_container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.new_arrivals_img_div {
    border: solid black;
    font-size: 12px;
    width: 23%;
    height: 60%;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.new_arrivals_img_div:hover {
    width: 25%;
}

.new_arrivals_img_div:hover a {
    font-weight: bolder;
    color: rgb(18, 18, 59);
    text-decoration: none;
}

.new_arrivals_img_div_img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.new_arrivals_img_div a {
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

/* -- FOOTER -- */
#main_footer {
    border: solid black;
    background-color: black;
}

#footer_internal_links_ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5em;
}

#footer_internal_links_ul li {
    margin: 10px;
}

#footer_internal_links_ul li a {
    text-decoration: none;
    color: black;
    color: ivory;
    letter-spacing: .2rem;
}

#footer_internal_links_ul li a:hover {
 color: dimgray;
}

#footer_icons_ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 2em;
    background-color: black;
}

#footer_icons_ul li {
    margin: 10px;
    background-color: ivory;
    padding: 12px 20px;
    padding-top: 17px;

    border-radius: 50%;
}

#footer_icons_ul li a {
    text-decoration: none;
    color: black;
}

#company_address {
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 7px;
    font-weight: bold;
    color: ivory;
    letter-spacing: .2rem;
}

#copyright_display {
    text-align: center;
    padding: 10px;
    padding-top: 0;
    font-weight: bold;
    color: ivory;
}

/* SHOP PAGE */
/* SHOP PAGE */

#products_title_container {
    position: relative;  
}

#products_title_container h1 {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*border: solid black;
    border-bottom: solid black;*/
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    padding: 0 5px;
    /*background-color: rgba(0, 0, 0, .5);*/
    color: ivory;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#products_title_container img {
    object-fit: cover;
    max-height: 500PX;
    width: 100%;
    filter: brightness(50%)
}

#products_title {
    /*border: solid black;*/
    text-align: left;
    letter-spacing: .2rem;
    font-size: 40px;
}


/* PRODUCT ITEMS */
/* PRODUCT ITEMS */

.product_items_main_container {
    margin: 25px 0;
}

.product_items_img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
}

.product_items_img_div {
    border: solid black;
    width: 23%;
    max-height: 600px;
    margin: 5px 2px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.product_items_img_div_img {
    object-fit: scale-down;
    width: 100%;
    height: 85%;
    border-radius: 10px;
}

.product_items_img_div p {
    text-align: center;
}

.product_items_img_div:hover {
    width: 24%;
    height: auto;
}

.product_items_img_div:hover p {
    font-weight: bolder;
    color: rgb(18, 18, 59);
    text-decoration: none;
}


/* 
SURFBOARDS
PAGE
*/

#surfboards_page_title {
    text-align: center;
    margin: 25px 0;
}

/* 
LEASHES
*/

#leashes_page_title {
    text-align: center;
    margin: 25px 0;
}

/* 
FINS
*/
#fins_page_title {
    text-align: center;
    margin: 25px 0;
}


/* PRODUCT PAGES */
/* PRODUCT PAGES */

body#product1 {
    background-color: white;
}

/* PRODUCT NAV */

/*SECONDARY NAV*/
#product_page_nav {
    border: none;
    font-size: 13px;
    max-width: 1500px;
    margin: 30px auto;
    text-align: center;
}

#product_page_nav * {
    color: dimgray;
}

#product_page_nav ul li a:hover {
    color: black;
}

#product_path {
    margin-right: auto;
    margin-left: 40px;
    justify-content: flex-start;
}

#product_path li ion-icon {
    font-size: 25px;
    color: black;
}

#current_page_rep {
    color: black;
}

#to-and-fro_product_nav {
    margin-right: 40px;
    margin-left: auto;
    justify-content: flex-end;
}

#to-and-fro_product_nav li p {
    color: black;
}

/* PRODUCT SPECS */
/* PRODUCT SPECS */

#product_info_container {
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#product_img_container {
    border: 1px solid black;
    background-color: white;
    width: 100%;
    /* max-width: 600px; */
    min-width: 400px;
    margin: 0 30px;
    /* margin-left: 200px; */
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#product_img_container img {
    object-fit: scale-down;
    width: 100%;
}

#product_specs_container {
    /*border: 1px solid black;*/
    max-width: 700px;
    min-width: 475px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
}

#product_specs_container h1 {
    margin: 20px 0;
}

#product_specs_container p {
    margin: 20px 0;
}

#price {
    font-size: 25px;
}

.cart_button_container {
    margin: 30px 0px;
    margin-bottom: 40px;
}

.cart_button_container button {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: large;
    font-weight: bolder;
    color: bisque;
    background-color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
}

.cart_button_container button:hover {
    background-color: bisque;
    color: black;
    transition: .2s ease-in-out;
    box-shadow: 0 0 1px 1px black;
}

#disclaimer {
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {

    #product_info_container {
        flex-direction: column;
    }

    #product_img_container {
        margin: 0 auto;
        width: 60%;
        max-width: 1000px;
    }

    #product_specs_container {
        max-width: 1000px;
    }

    } /* END OF @MEDIA */

/* ABOUT */
/* ABOUT */
/*
#about_main_container {
    border: solid red;
}
*/

#about_top_img_container {
    position: relative;
}

#about_top_img_container h1 {
    position: absolute;
    bottom: 0;
    /* height 100%, display flex, align items center, justify content center 
    MAKES TEXT VERT AND HORI CENTERED 
    */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /*border: solid black;*/
    border-bottom: solid black;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    padding: 0 5px;
    /*background-color: rgba(0, 0, 0, .5);*/
    color: ivory;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#about_top_img_container img {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

#about_script_container {
    /*border: solid black;*/
    /*IMGS VERTICALLY ALIGNED USING FLEX*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about_script_container * {
    margin: 5px 15px;
    /*border: solid blue;*/
}

.about_script_flex_box h1 {
    font-size: 60px;
}

.about_script_flex_box p {
    font-size: 25px;
}

.about_script_flex_box img {
    object-fit: cover;
    max-height: 250px;
    max-width: 100%;
    /* makes space between imgs but shrinks them */
    padding-top: 20px;
}

.about_script_flex_box {
    flex-basis: 45%;
}

#about_script_flex_box2 {
    text-align: center;
}

/* CONTACT PAGE */
/* CONTACT PAGE */

#contact_info_wrapper {
    position: relative;
    line-height: 1.6;
    text-align: center;
    color: black;
}

#contact_info_wrapper img {
    object-fit: cover;
    width: 100%;
    min-height: 500px;
}

/*this is for the BACKGROUND COLOR FILLING AND STAYING IN PLACE*/
#text_wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    bottom: 0;
    width: 100%;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text_wrapper p:nth-child(1) {
    font-size: 40px;
}

#text_wrapper p {
    font-size: 25px;
    color: ivory;
}

/*added this to div to allow 
TEXT TO MOVE INDEPENDENT OF TRANSPARENT BACKGROUND OF TEXT_WRAPPER*/
#text_wrapper_inner_div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .7s ease 0s;
}

@media screen and (max-width: 1000px) {
    #text_wrapper_inner_div {
        top: 50%;
        transition: all .7s ease 0s;
    }
} /*END OF THE MEDIA SCREEN*/

@media screen and (min-width: 1001px) and (max-width: 1500px) {
    #text_wrapper_inner_div {
        top: 35%;
        transition: all .7s ease 0s;
    }
} /*END OF THE MEDIA SCREEN*/

/* SHIPPING */
/* SHIPPING */

#shipping_script_container {
    margin: 5px 15px;
}

/*#shipping_script_container * {
    line-height: 2;
}
*/

.shipping_script_flex_box h1 {
    font-size: 40px;
    margin-top: 15px;
}

.shipping_script_flex_box p {
    font-size: 25px;
    line-height: 2;
}

#shipping_info br {
    line-height: 5;
}

.shipping_info_breaks {
    line-height: 5;
}


/* INDEPENDENTLY MADE SHOPPING CART */
/* INDEPENDENTLY MADE SHOPPING CART */

.cart_main_container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.shopping_cart_title_container {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 25px;
    letter-spacing: .2rem;
}

.full_item_container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row; 
    border-bottom: 3px solid rgba(0, 0, 0, .3);
    padding: 15px 0;


}

.full_item_container > * {
    margin: 0;
    width: 100%;
}

.product_img_div {
    max-height: 240px;
    max-width: 200px;
    min-width: 150px;
}

.product_img_div img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.product_name_div {
    padding-left: 5px;
    font-size: 25;
    padding-top: 10px;
}

.product_name_div span {
    display: inline-block;
}

.quantity_ORG {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.decrement_btn:hover {
    cursor: pointer;
}

.increment_btn:hover {
    cursor: pointer;
}

.remove_btn:hover {
    cursor:pointer
}

.total_ORG {
    display: block;
    font-size: 20px;
    padding-top: 10px;
}

.remove_from_cart {
    display: block;
    font-size: 20px;
    padding-top: 10px;
}

.sub_check_proper_flex {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

.sub_and_checkout_container {
    /* margin 0 auto prevents the parent from 
    executing 'flex-end'
    margin: 0 auto;
    */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
}

.sum_container_ORG {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sum_container_ORG h4 {
    margin: 5px 10px;
}

.checkout_button_container {
    margin: 0px 0px;
    margin-bottom: 0px;
}

.checkout_button_container button {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: .2rem;
    color: bisque;
    background-color: black;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
}

.checkout_button_container button:hover {
    background-color: bisque;
    color: black;
    transition: .2s ease-in-out;
    box-shadow: 0 0 1px 1px black;
}

@media screen and (max-width: 1000px) {
    .sub_and_checkout_container {
        margin: 0 auto;
        width: 100%;
    }
}

